.navbar {
    display: flex;
    justify-content: space-between; /* Space between logo and links */
    align-items: center;
    background-color: white;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 1000;
    border-bottom: 2px solid rgb(172, 165, 165);
}

.logo {
    display: flex; /* Align logo items in a row */
    align-items: center; /* Center items vertically */
    margin-left: 2.5rem;  
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 1.5rem; /* Space between links */
    margin-left: auto;
    flex-shrink: 1;
    overflow: hidden;
}

.nav-links a {
    display: block;
    padding: 0.5rem 0.3rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.4rem;
    margin: 0 0.9rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

.bold {
    font-weight: 800;
}

.nav-links li {
    display: inline-block;
}
